{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Most Recent Commits to the Symfony Framework</h4></li>
    {% for commit in commits %}
        
        
    <li class="collection-item"><a href="{{commit.html_url}}" target="_blank">{{commit.commit.message}}</a><br>
            <strong>{{commit.author.login}}</strong> committed at {{commit.commit.committer.date}}
        
    </li>
    
    {% endfor %} 
    </ul>
    </div>
{% endblock %}
