{% extends 'base.html.twig' %}

{% block body %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">GitHub API Data</h1>
            <div class="row center">
                <h5 class="header col s12 light">A simple app to retrieve data about Symfony from GitHub</h5>
            </div>
            <div class="row center">
             <!--
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
            -->
             </div>
        <br><br>

        </div>
    </div>
    
    <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4 center">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Branches</h5>
            <br>
            <a class="waves-effect waves-light btn" href="{{ path('branches') }}">View</a>

          </div>
        </div>

        <div class="col s12 m4 center">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Recent Commits</h5>
            <br>
            <a class="waves-effect waves-light btn" href="{{ path('commits') }}">View</a>
            
          </div>
        </div>

        <div class="col s12 m4 center">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Top 10 Symfony Contributors</h5>
            <br>
            <a class="waves-effect waves-light btn" href="{{ path('contributors') }}">View</a>
            
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">
    </div>
  </div>
{% endblock %}
